:root {
  --bg-main: rgb(243, 242, 239);
  --container-bg-tint: rgb(249, 250, 251);

  --color-primary: rgb(10, 102, 194);
  --color-action: rgb(203, 16, 23);
  --color-attention: rgb(5, 118, 65);

  --color-text: rgba(0, 0, 0, 0.9);
  --color-text-light: rgba(0, 0, 0, 0.6);

  --color-faint: rgba(0, 0, 0, 0.08);

  --input-background: rgb(238 243 248);

  --nav-text: rgba(0, 0, 0, 0.6);
  --nav-text-dark: rgba(0, 0, 0, 0.9);
  --nav-active: rgb(25, 25, 25);

  --btn-primary: rgb(10, 102, 194);
  --btn-primary-on-hover: rgb(0, 65, 130);

  --btn-primary-ghost: rgb(10, 102, 194);
  --btn-primary-ghost-border: rgb(10, 102, 194);
  --btn-primary-ghost-bg-on-hover: #e2f0fe;

  --btn-secondary-ghost: rgba(0, 0, 0, 0.6);
  --btn-secondary-ghost-border: rgba(0, 0, 0, 0.6);
  --btn-secondary-ghost-bg-on-hover: rgba(0, 0, 0, 0.08);

  --btn-secondary: rgba(0, 0, 0, 0.6);

  --btn-text-disabled: rgba(0, 0, 0, 0.3);
  --btn-bg-disabled: rgba(0, 0, 0, 0.08);

  /* font-sizes */
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5% */
}

body {
  min-height: 100vh;
  background-color: var(--bg-main);
  font-size: 1.6rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0; /* overrides style in normalize.css */
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

img,
audio,
video {
  max-width: 100%;
}

svg {
  display: block; /* removes default whitespace from below SVGs */
}

/* $NAVIGATION */

.logo {
  color: var(--color-primary);
  height: 4.1rem;
  width: 4.1rem;
  margin-right: 0.4rem;
  margin-left: -0.3rem;
}
.logo-svg {
  height: 100%;
  width: 100%;
}
.search-box {
  height: 3.5rem;
  /* width: 28rem; */
  width: 38.5rem;
  font-size: 1.4rem;
  line-height: 1.75rem;
  display: flex;
  position: relative;
}

.search-box > input {
  height: 100%;
  width: 28rem;
  padding-left: 4rem;
  background-color: var(--input-background);
  border-radius: 0.4rem;
  border: none;
}

.search-box > input:focus {
  width: 100%;
  font-size: 1.6rem;
  padding-right: 0.8rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  background-color: rgb(238, 243, 248);
  transition: width 0.5s;
}

.search-icon-container {
  height: 100%;
  color: var(--color-text-light);
  position: absolute;
  top: 0px;
  left: 1.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
}

.nav {
  height: 5.3rem;
  font-size: 1.2rem;
  line-height: 1.3333;
  background-color: white;
  color: var(--nav-text);

  border-bottom: 1px solid var(--color-faint);
  overflow: hidden; /* border-bottom: 1px solid var(--color-faint); */
}

.nav a {
  text-decoration: none;
}

.nav a:link,
.nav a:visited {
  color: var(--nav-text);
}

.nav a:hover {
  color: var(--nav-active);
}

.nav a:active {
  color: var(--nav-active);
}

.nav-container {
  height: 100%;
  width: 113rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-list {
  display: flex;
}

.nav-left {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-centre {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-faint);
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
}

/* .nav-right a:nth-of-type(1) {
  padding-left: 1.2rem;
} */

.nav-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
}

/* .nav svg {
  display: block;
} */

.home-container::after {
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -4px;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 1rem;
  background-color: white;
  border: 5px solid var(--color-action);
}

/* $SUBNAVIGATION */
.subnav {
  font-size: 1.6rem;
  line-height: 1.5;
}
.subnav a {
  text-decoration: none;
}

.subnav-item {
  padding: 1.2rem 1.6rem;
  display: inline-block;
  font-weight: 600;
}

#subnav-item-active {
  color: var(--color-attention);
  font-weight: 700;
  border-bottom: 2px solid var(--color-attention);
}

.subnav-item:link,
.subnav-item:visited {
  color: var(--nav-text);
}

.subnav-item:hover {
  color: var(--nav-text-dark);
}

.subnav-item:active {
  color: var(--nav-text-dark);
  background-color: var(--container-bg-tint);
}

/* $HERO */

.hero-image-container {
  margin-bottom: 5.8rem;
  position: relative;
}

.hero-title-container {
  padding: 0rem 2.5rem;
  margin-bottom: 3.2rem;
}

.hero-image {
  max-height: 135px;
  width: 100%;
  /* overflow: hidden; */
}

.hero-buttons-container {
  padding: 0rem 2.5rem;
  margin-bottom: 1.6rem;
}

.hero-buttons-container > .button-primary {
  padding: 0.6rem 3.5rem 0.6rem 3.5rem;
}
.hero-buttons-container-wrapper {
  border-bottom: 1px solid var(--color-faint);
}

.hero-buttons-container .button:not(:last-child) {
  margin-right: 1rem;
}

.hero-buttons-container .button-primary-ghost:hover {
  text-decoration: underline;
}

.hero-image-secondary {
  width: 112px;
  height: 112px;
  border: 2px solid white;
  position: absolute;
  top: 7.5rem;
  left: 2.5rem;
}

/*ABOUT US */
.about-container-top {
  padding: 0rem 2.5rem;
  margin-bottom: 2.4rem;
}

.about-container-top-wrapper {
  border-bottom: 1px solid var(--color-faint);
}

.about-container-bottom {
  text-align: center;
}

.about-title {
  padding-top: 2.4rem;
  padding-bottom: 1.6rem;
}

.about-text {
  color: var(--color-text-light);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42857;
}

.about-cta {
  color: var(--color-text-light);
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 1.2rem 0;
  display: inline-block;
}

/*NEWSLETTER*/

.newsletter-container {
  padding: 2.4rem;
}
.newsletter-title {
  padding-bottom: 1.6rem;
}

/* .newsletter-content {
} */

.newsletter-right {
}

.newsletter-left {
  flex: 0 0 auto;
  margin-right: 1.5rem;
  position: relative;
}

.newsletter-image-container {
  width: 270px;
  height: 156px;
  overflow: hidden;
}

.newsletter-image-blurred {
  height: 105%; /* Height and width set to more than 100%, along with overflow:hidden in its container, ensure that a sharp border is maintained even though the image is blurred.    */
  width: 105%;
  filter: blur(20px);
  opacity: 0.6;
}

.newsletter-image {
  height: 88px;
  width: 88px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newsletter-description {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-text);
}

/*RECENTLY POSTED VIDEOS*/
.recently-posted-videos-container-top {
  padding: 2.4rem;
}

.recently-posted-videos-container-top-wrapper {
  border-bottom: 1px solid var(--color-faint);
}

.recently-posted-videos-container-bottom {
  text-align: center;
}
.recently-posted-videos-container {
  padding: 2.4rem;
}
.recently-posted-videos-title {
  padding-bottom: 1.6rem;
}

.recently-posted-videos-right {
}

.recently-posted-videos-left {
  margin-right: 1.5rem;
  /* position: relative; */
}

.recently-posted-videos-image-container {
  width: 270px;
  height: 156px;
  overflow: hidden;
  position: relative;
}

.recently-posted-videos-image-container img {
  object-fit: cover;
  object-position: center;
}

.recently-posted-videos-description {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-text);
}

.recently-posted-videos-cta {
  color: var(--color-text-light);
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 1.2rem 0;
  display: inline-block;
}

.recently-posted-videos-description a {
  text-decoration: none;
}

.recently-posted-videos-description a:link,
.recently-posted-videos-description a:visited {
  color: var(--nav-text);
}

.recently-posted-videos-description a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.recently-posted-videos-description a:active {
  color: var(--color-primary);
  background-color: var(--container-bg-tint);
}

/*PAGE POSTS */

.page-posts-container-top {
  padding-top: 1.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2.4rem;
}

.page-posts-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-posts-container-top-wrapper {
  border-bottom: 1px solid var(--color-faint);
}

.page-posts-container-bottom {
  text-align: center;
}
.page-posts-container {
  padding: 2.4rem;
}
.page-posts-title {
  padding: 1.2rem 0.8rem;
}

.page-posts-right {
}

.page-posts-cta {
  color: var(--color-text-light);
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 1.2rem 0;
  display: inline-block;
}

.page-posts-cards-container {
  display: flex;
  padding-bottom: 0.8rem;
}
.page-posts-card-container {
  display: flex;
}

/* bullet is nearer to the bottom instead of being exactly in the centre  */
.page-posts-card-container .bullet-small {
  margin-top: 3px;
}

.page-posts-card-header {
  display: flex;
  padding: 0.8rem 0.8rem 0rem 1.6rem;
  width: 365px;
}

.page-posts-card-page-details {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--color-text);
  margin-right: auto;
  padding-left: 0.8rem;
}

.page-posts-card-ellipsis {
  margin-top: -4px;
}

.page-posts-card-thumbnail {
  width: 40px;
  height: 40px;
}

/* Using this to wrap the secton-container, means we don't need to set a width on the "section-container" class, which leaves it more flexible for reuse in other parts of the application. */
.page-posts-width-wrapper {
  width: 365px;
}

.page-posts-card-page-stats {
  display: flex;
  align-items: center;
}

.page-posts-card-post-stats {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-faint);
}

.page-posts-card-post-stats img {
  display: block; /* removes space from bottom of images and makes alignment easier */
}

.page-posts-card-description {
  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  font-size: 1.4rem;
  color: var(--color-text);
  line-height: 2rem;
  font-weight: 400;
}

.page-posts-card-description a {
  text-decoration: none;
}

.page-posts-card-description a:link,
.page-posts-card-description a:visited {
  color: var(--nav-text);
}

.page-posts-card-description a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.page-posts-card-description a:active {
  color: var(--color-primary);
  background-color: var(--container-bg-tint);
}

.page-posts-card-image-container {
  width: 365px;
  height: 263px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  /* background-size: cover; */
}

.page-posts-card-image-container img {
  /* width: 365px; */
  height: 263px;
  object-fit: cover;
  object-position: center;
}

.page-posts-card-social-actions-container {
  display: flex;
  padding: 0.4rem 1.2rem;
  justify-content: space-between;
}

.page-posts-card-social-action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
}

.page-posts-card-social-actions-container button {
  width: 67.27px;
  height: 72px;
}

.page-posts-card-social-action-container svg {
  width: 24px;
  height: 24px;
}

/*MAIN ADVERT  */
.main-advert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;
}

.main-advert-container h2 {
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.main-advert-options {
  display: flex;
  align-self: flex-end;
  color: var(--color-text);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.33333rem;
}

.main-advert-image {
  width: 76px;
  height: 76px;
  display: inline-block;
}

.main-advert-image img {
  display: block;
  display: inline-block;
}

.main-advert-details {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.main-advert-details-company-name {
  font-weight: 600;
}
/* $AFFILIATED PAGES */
.affiliated-pages-container {
  margin: 1.6rem;
}
.affiliated-pages-container:not(:last-child) {
  border-bottom: 1px solid var(--color-faint);
}

.affiliated-pages-title {
  padding: 1.6rem 0;
}

.affiliated-pages-advert {
  display: flex;
  padding: 1.6rem 0;
}

.affiliated-pages-advert-image {
  width: 38px;
  height: 38px;
}

.affiliated-pages-details {
  padding-left: 1.2rem;
}

.affiliated-pages-advert-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--color-text);
  padding-bottom: 0.4rem;
}
.affiliated-pages-advert-category {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33333rem;
  color: var(--color-text);
  padding-bottom: 0.8rem;
}
.affiliated-pages-advert-type {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33333rem;
  color: var(--color-text-light);
  padding-bottom: 0.4rem;
}

.affiliated-pages-container button {
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

/* PAGE SUGGESTIONS */
.page-suggestions-container {
  margin: 1.6rem;
}
.page-suggestions-container:not(:last-child) {
  border-bottom: 1px solid var(--color-faint);
}

.page-suggestions-container-top-wrapper {
  border-bottom: 1px solid var(--color-faint);
}

.page-suggestions-container-bottom {
  text-align: center;
}

.page-suggestions-title {
  padding: 1.6rem 0;
}

.page-suggestions-page {
  display: flex;
  padding: 1.6rem 0;
}

.page-suggestions-page-image {
  width: 38px;
  height: 38px;
}

.page-suggestions-details {
  padding-left: 1.2rem;
}

.page-suggestions-page-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--color-text);
  padding-bottom: 0.4rem;
}
.page-suggestions-page-category {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33333rem;
  color: var(--color-text);
  padding-bottom: 0.8rem;
}
.page-suggestions-page-followers {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33333rem;
  color: var(--color-text-light);
  padding-bottom: 0.4rem;
}

.page-suggestions-container button {
  margin: 0 auto;
  margin-bottom: 1.6rem;
}

.page-suggestions-container:last-child button {
  margin-bottom: 3.2rem;
}

.page-suggestions-container-cta {
  color: var(--color-text-light);
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.6rem;
  padding: 1.2rem 0;
  display: inline-block;
}

/* $LAYOUT */

.page-container {
  height: 100%;
  width: 113rem;
  display: flex;
  margin: 0 auto;
  display: flex;
}

.main-container {
  min-height: 100vh;
  width: 80.4rem;
  margin-right: 2.5rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.side-container {
  margin-top: 2.4rem;
  flex: 1 1 30rem; /* This column should never shrink so override default. */
}

.section-container {
  box-shadow: var(--color-faint) 0px 0px 0px 1px;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1.6rem;
}

/* Do not apply to inner sections - only to the last section within main-container*/
/* .main-container > .section-container:last-child {
  margin-bottom: 48px;
} */

.display-block {
  display: block !important;
}
.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-0 {
  flex: 0 0 0;
}
.flex-0-auto {
  flex: 0 0 auto;
}

/* BUTTONS */
.button {
  display: flex; /* facilitates alignment of icons with text inside buttons  */
  justify-content: center;
  align-items: center;
  height: 3.2rem;
  width: fit-content;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 2;
  border-radius: 1.6rem;
  padding: 0.6rem 1.6rem;

  cursor: pointer;
  border: none;
  text-decoration: none;
}

.button:disabled {
  cursor: no-drop;
  background-color: var(--btn-bg-disabled);
  color: var(--btn-text-disabled);
  border: none;
}

.button-circle {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}

.button-square {
  border-radius: 0px;
}

.button-primary {
  background-color: var(--btn-primary);
  color: white;
}

.button-primary:hover:not([disabled]) {
  background-color: var(--btn-primary-on-hover);
}

.button-primary-ghost {
  background-color: white;
  color: var(--btn-primary-ghost);
  border: 1px solid var(--btn-primary-ghost);
}
/* Do not use: "button-primary-ghost:hover:enabled"  because the hover state will stop working on links styled as buttons.*/
.button-primary-ghost:hover:not([disabled]) {
  background-color: var(--btn-primary-ghost-bg-on-hover);
  box-shadow: inset 0 0 0 1px var(--btn-primary-ghost);
}

.button-secondary-icon {
  background-color: transparent;
  color: var(--btn-secondary);
  border: none;
}

.button-secondary-icon:hover:not([disabled]) {
  background-color: var(--btn-secondary-ghost-bg-on-hover);
}

.button-secondary-ghost {
  background-color: transparent;
  color: var(--btn-secondary-ghost);
  border: 1px solid var(--btn-secondary-ghost-border);
}

/* Do not use: "button-secondary-ghost:hover:enabled"  because the hover state will stop working on links styled as buttons.*/
.button-secondary-ghost:hover:not([disabled]) {
  background-color: var(--btn-secondary-ghost-bg-on-hover);
  box-shadow: inset 0 0 0 1px var(--color-text-light);
}

/* .button-large {
  padding: 0.6rem 3.5rem 0.6rem 3.5rem;
} */

.button-small {
  font-size: 1.4rem;
}

.button-icon {
  height: 1.6rem;
  width: 1.6rem;
  color: currentColor;
  margin-right: 4px;
  align-self: center;
}

/* $TEXT */
.h1 {
  font-size: 2.4rem;
  line-height: 1.33333;
  color: var(--color-text);
  font-weight: 600;
}

.h2 {
  /*About rgba (0,0,0,0.9) , font-size:2rem, line-height 1.4, font-weight:600*/
  color: var(--color-text);
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 600;
}

.h3 {
  /*About rgba (0,0,0,0.9) , font-size:2rem, line-height 1.4, font-weight:600*/
  color: var(--color-text);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
}

.supplement {
  font-size: 1.4rem;
  color: var(--color-text-light);
  line-height: 1.42857;
  font-weight: 400;
  display: inline-block;
}

.supplement-title {
  color: var(--color-text);
  font-weight: 600;
}

.supplement-small,
.supplement-small-with-overlap-left {
  font-size: 1.2rem;
  line-height: 1.33333;
}

.supplement-small-with-overlap-left {
  margin-left: -6px;
}

/*Can be used for overlapping circular icons for example  */
/* .supplement-small-overlap-left {
  margin-left: -6px;
} */

/* .title-supplement-piece.bullet-small {
  margin-bottom: 2px;
} */

/* ICONS AND SVGS */
.video-play-button-foreground {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-play-button-background {
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* $UTILITIES */
.absolute-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.badge-circle-small {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -4px;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 1rem;
  display: none;
}

.bullet-small {
  vertical-align: middle;
  background-color: currentColor;
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
}

.color-action {
  background-color: var(--color-action);
}

/* Used to wrap an svg so that items can be absolutely positioned relative to the svg*/
.svg-container {
  position: relative;
}

.visibility-hidden {
  visibility: hidden;
}

/*MARGINS AND PADDING */
.mt1 {
  margin-top: 0.4rem !important;
}

.mb1 {
  margin-bottom: 0.4rem !important;
}

.ml1 {
  margin-left: 0.4rem !important;
}

.mr1 {
  margin-right: 0.4rem !important;
}
.mt2 {
  margin-top: 0.8rem !important;
}

.mb2 {
  margin-bottom: 0.8rem !important;
}

.ml2 {
  margin-left: 0.8rem !important;
}

.mr2 {
  margin-right: 0.8rem !important;
}

.mt3 {
  margin-top: 1.2rem !important;
}

.mb3 {
  margin-bottom: 1.2rem !important;
}

.ml3 {
  margin-left: 1.2rem !important;
}

.mr3 {
  margin-right: 1.2rem !important;
}

.mt4 {
  margin-top: 1.6rem !important;
}

.mb4 {
  margin-bottom: 1.6rem !important;
}

.ml4 {
  margin-left: 1.6rem !important;
}

.mr4 {
  margin-right: 1.6rem !important;
}

.mt5 {
  margin-top: 2.4rem !important;
}

.mb5 {
  margin-bottom: 2.4rem !important;
}

.ml5 {
  margin-left: 2.4rem !important;
}

.mr5 {
  margin-right: 2.4rem !important;
}
.mt6 {
  margin-top: 3.2rem !important;
}

.mb6 {
  margin-bottom: 3.2rem !important;
}

.ml6 {
  margin-left: 3.2rem !important;
}

.mr6 {
  margin-right: 3.2rem !important;
}

.pt1 {
  padding-top: 0.4rem !important;
}

.pb1 {
  padding-bottom: 0.4rem !important;
}

.pl1 {
  padding-left: 0.4rem !important;
}

.pr1 {
  padding-right: 0.4rem !important;
}

.pt2 {
  padding-top: 0.8rem !important;
}

.pb2 {
  padding-bottom: 0.8rem !important;
}

.pl2 {
  padding-left: 0.8rem !important;
}

.pr2 {
  padding-right: 0.8rem !important;
}

.pt3 {
  padding-top: 1.2rem !important;
}

.pb3 {
  padding-bottom: 1.2rem !important;
}

.pl3 {
  padding-left: 1.2rem !important;
}

.pr3 {
  padding-right: 1.2rem !important;
}

.pt4 {
  padding-top: 1.6rem !important;
}

.pb4 {
  padding-bottom: 1.6rem !important;
}

.pl4 {
  padding-left: 1.6rem !important;
}

.pr4 {
  padding-right: 1.6rem !important;
}
.pt5 {
  padding-top: 2.4rem !important;
}

.pb5 {
  padding-bottom: 2.4rem !important;
}

.pl5 {
  padding-left: 2.4rem !important;
}

.pt6 {
  padding-top: 3.2rem !important;
}

.pb6 {
  padding-bottom: 3.2rem !important;
}

.pl6 {
  padding-left: 3.2rem !important;
}

.pr6 {
  padding-right: 3.2rem !important;
}
