:root {
  --bg-main: rgb(243, 242, 239);
  --container-bg-tint: rgb(249, 250, 251);

  --color-primary: rgb(10, 102, 194);
  --color-action: rgb(203, 16, 23);
  --color-attention: rgb(5, 118, 65);

  --color-text: rgba(0, 0, 0, 0.9);
  --color-text-light: rgba(0, 0, 0, 0.6);

  --color-faint: rgba(0, 0, 0, 0.08);

  --input-background: rgb(238 243 248);

  --nav-text: rgba(0, 0, 0, 0.6);
  --nav-text-dark: rgba(0, 0, 0, 0.9);
  --nav-active: rgb(25, 25, 25);

  --btn-primary: rgb(10, 102, 194);
  --btn-primary-on-hover: rgb(0, 65, 130);

  --btn-primary-ghost: rgb(10, 102, 194);
  --btn-primary-ghost-border: rgb(10, 102, 194);
  --btn-primary-ghost-bg-on-hover: #e2f0fe;

  --btn-secondary-ghost: rgba(0, 0, 0, 0.6);
  --btn-secondary-ghost-border: rgba(0, 0, 0, 0.6);
  --btn-secondary-ghost-bg-on-hover: rgba(0, 0, 0, 0.08);

  /* font-sizes */
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5% */
}

body {
  min-height: 100vh;
  background-color: var(--bg-main);
  font-size: 1.6rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0; /* overrides style in normalize.css */
}

li {
  list-style: none;
}

img,
audio,
video {
  max-width: 100%;
}

svg {
  display: block; /* removes default whitespace from below SVGs */
}

/* $NAVIGATION */

.logo {
  color: var(--color-primary);
  height: 4.1rem;
  width: 4.1rem;
  margin-right: 0.4rem;
  margin-left: -0.3rem;
}
.logo-svg {
  height: 100%;
  width: 100%;
}
.search-box {
  height: 3.5rem;
  /* width: 28rem; */
  width: 38.5rem;
  font-size: 1.4rem;
  line-height: 1.75rem;
  display: flex;
  position: relative;
}

.search-box > input {
  height: 100%;
  width: 28rem;
  padding-left: 4rem;
  background-color: var(--input-background);
  border-radius: 0.4rem;
  border: none;
}

.search-box > input:focus {
  width: 100%;
  font-size: 1.6rem;
  padding-right: 0.8rem;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  background-color: rgb(238, 243, 248);
  transition: width 0.5s;
}

.search-icon-container {
  height: 100%;
  color: var(--color-text-light);
  position: absolute;
  top: 0px;
  left: 1.6rem;
  z-index: 1;
  display: flex;
  align-items: center;
}

.nav {
  height: 5.3rem;
  font-size: 1.2rem;
  line-height: 1.3333;
  background-color: white;
  color: var(--nav-text);

  border-bottom: 1px solid var(--color-faint);
  overflow: hidden; /* border-bottom: 1px solid var(--color-faint); */
}

.nav a {
  text-decoration: none;
}

.nav a:link,
.nav a:visited {
  color: var(--nav-text);
}

.nav a:hover {
  color: var(--nav-active);
}

.nav a:active {
  color: var(--nav-active);
}

.nav-container {
  height: 100%;
  width: 113rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav-list {
  display: flex;
}

.nav-left {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-centre {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--color-faint);
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
}

/* .nav-right a:nth-of-type(1) {
  padding-left: 1.2rem;
} */

.nav-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
}

/* .nav svg {
  display: block;
} */

.home-container::after {
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -4px;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 1rem;
  background-color: white;
  border: 5px solid var(--color-action);
}

/* $HERO */
.hero {
  box-shadow: var(--color-faint) 0px 0px 0px 1px;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: white;
}

.hero-image-container {
  margin-bottom: 5.8rem;
  position: relative;
}

.hero-main-container {
  /* padding: 0rem 2.5rem; */
}

.hero-title-container {
  padding: 0rem 2.5rem;
  margin-bottom: 3.2rem;
}

.hero-image {
  max-height: 135px;
  width: 100%;
  /* overflow: hidden; */
}

.hero-buttons-container {
  padding: 0rem 2.5rem;
  margin-bottom: 1.6rem;
}
.hero-buttons-container-wrapper {
  border-bottom: 1px solid var(--color-faint);
}

.hero-buttons-container .button:not(:last-child) {
  margin-right: 1rem;
}

.hero-subnav-container {
  /* padding: 0rem 2.5rem; */
}

.hero-image-secondary {
  width: 112px;
  height: 112px;
  border: 2px solid white;
  position: absolute;
  top: 7.5rem;
  left: 2.5rem;
}

.subnav {
  font-size: 1.6rem;
  line-height: 1.5;
}
.subnav a {
  text-decoration: none;
}

.subnav-item {
  padding: 1.2rem 1.6rem;
  display: inline-block;
  font-weight: 600;
}

#subnav-item-active {
  color: var(--color-attention);
  font-weight: 700;
  border-bottom: 2px solid var(--color-attention);
}

.subnav-item:link,
.subnav-item:visited {
  color: var(--nav-text);
}

.subnav-item:hover {
  color: var(--nav-text-dark);
}

.subnav-item:active {
  color: var(--nav-text-dark);
  background-color: var(--container-bg-tint);
}

/* $LAYOUT */

.page-container {
  height: 100%;
  width: 113rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.main-container {
  height: 100vh;
  width: 80.4rem;
  margin-right: 2.5rem;
  margin-top: 2rem;
}
.side-container {
  background-color: lightgoldenrodyellow;
  height: 100vh;
  margin-top: 2.5rem;
  flex: 1 1 30rem; /* This column should never shrink so override default. */
}

.display-block {
  display: block !important;
}
.flex-centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-top {
  display: flex;
  align-items: flex-start;
}

/* BUTTONS */
.button {
  font-weight: 600;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 2rem;
  border-radius: 1.6rem;
  padding: 0.6rem 1.6rem;
  height: 3.2rem;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.button-primary {
  background-color: var(--btn-primary);
  color: white;
}

.button-primary:hover {
  background-color: var(--btn-primary-on-hover);
}

.button-primary-ghost {
  background-color: white;
  color: var(--btn-primary-ghost);
  border: 1px solid var(--btn-primary-ghost);
}
.button-primary-ghost:hover {
  background-color: var(--btn-primary-ghost-bg-on-hover);
  text-decoration: underline;
}

/* .button-secondary {
  background-color: );
  color: white;
}

.button-secondary:hover {
  background-color: var(--btn-primary-on-hover);
} */

.button-secondary-ghost {
  background-color: white;
  color: var(--btn-secondary-ghost);
  border: 1px solid var(--btn-secondary-ghost-border);
}

.button-secondary-ghost:hover {
  background-color: var(--btn-secondary-ghost-bg-on-hover);
  box-shadow: inset 0 0 0 1px var(--color-text-light);
}

.button-large {
  padding: 0.6rem 3.5rem 0.6rem 3.5rem;
}

.button-icon {
  height: 1.6rem;
  width: 1.6rem;
  color: currentColor;
  margin-right: 4px;
  align-self: center;
}

/* $TEXT */
.h1 {
  font-size: 2.4rem;
  line-height: 1.33333;
  color: var(--color-text);
  font-weight: 600;
}
.title-supplement {
  font-size: 1.4rem;
  color: var(--color-text-light);
  line-height: 1.42857;
}

.title-supplement-piece {
  display: inline-block;
  margin-right: 0.3em;
}

.title-supplement-piece.bullet-small {
  margin-bottom: 2px;
}

/* $UTILITIES */
.badge-circle-small {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -4px;
  color: white;
  text-align: center;
  line-height: 15px;
  font-size: 1rem;
  display: none;
}

.bullet-small {
  vertical-align: middle;
  background-color: currentColor;
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
}

.color-action {
  background-color: var(--color-action);
}

/* Used to wrap an svg so that items can be absolutely positioned relative to the svg*/
.svg-container {
  position: relative;
}

.visibility-hidden {
  visibility: hidden;
}
